{% extends 'base.twig' %}

{% block content %}

  <article class="gg-article">

    <header class="gg-article-header">
      {% if post.thumbnail.src %}
        <img src="{{ post.thumbnail.src('post-thumbnail') }}" />
      {% endif %}
      <hgroup>
        {% if post.copons_payoff %}
          <small class="gg-card-payoff">
            {{ post.copons_payoff }}
          </small>
        {% endif %}
        <h1>{{ post.title }}</h1>
      </hgroup>
    </header>

    <div class="gg-article-container">

      <div class="gg-article-info">
        <div class="gg-article-author gg-user-info">
          <a href="#" class="gg-user-image">
            <img src="http://placehold.it/40x40" />
          </a>
          <div class="gg-user-name">
            <a href="{{ post.author.link }}">
              {{ post.author.name }}
            </a>
            <span>
              {{post.post_date | date}}
            </span>
          </div>
        </div>
        <div class="gg-article-actions">
          <a class="gg-button-flat" href="#comments">
            <span class="gg-icon-comments"></span>
            {{ post.comment_count }}
          </a>
        </div>
      </div>

      <div class="gg-article-body">
        <pre>
          {{ post.author|print_r }}
        </pre>
        {{ post.content }}
      </div>

      <footer class="gg-article-footer">

        <div class="gg-article-social">
          <div class="gg-article-social-icons">
            <a class="gg-icon-flat gg-icon-facebook"></a>
            <a class="gg-icon-flat gg-icon-twitter"></a>
          </div>
          <div class="gg-article-social-buttons">
            <a class="gg-button-flat" href="#comments">
              <span class="gg-icon-comments"></span>
              {{ post.comment_count }}
            </a>
          </div>
        </div>

      </footer>

      <section class="gg-comments" id="comments">
        {% for comment in post.comments %}
          {% include 'comment.twig' with {comment:comment} %}
        {% endfor %}
        {{ function('comment_form') }}
      </section>

    </div>

  </article>

{% endblock %}
