{% extends 'base.twig' %}

{% block content %}

  <!-- START ARTICLE -->
  <article class="gg-article">

    <!-- START ARTICLE HEADER -->
    <header class="gg-article-header">
      {% if post.thumbnail.src %}
        <img src="{{ post.thumbnail.src('post-thumbnail') }}" />
      {% endif %}
      <hgroup>
        {% if post.copons_payoff %}
          <small class="gg-card-payoff">
            {{ post.copons_payoff }}
          </small>
        {% endif %}
        <h1>{{ post.title }}</h1>
      </hgroup>
    </header>
    <!-- END ARTICLE HEADER -->

    <div class="gg-article-container">

      <!-- START ARTICLE INFO -->
      <div class="gg-article-info">
        <div class="gg-post-meta-container">
          <a href="#" class="gg-user-image">
            <img src="http://placehold.it/40x40" />
          </a>
          <div class="gg-post-meta">
            <a href="{{ post.author.link }}" class="gg-user-link">
              {{ post.author.name }}
            </a>
            <div class="gg-post-meta-info">
              {{ post.post_date | date }}
            </div>
            <div class="gg-post-meta-info">
              {% for category in post.terms('categories') %}
              <a href="{{ category.link }}">
                {{ category.name }}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="gg-article-actions">
          <a class="gg-button-flat" href="#comments">
            <span class="gg-icon-comments"></span>
            {{ post.comment_count }}
          </a>
        </div>
      </div>
      <!-- END ARTICLE INFO -->

      <!-- START ARTICLE BODY -->
      <div class="gg-article-body">
        {{ post.content }}
      </div>
      <!-- END ARTICLE BODY -->

      <!-- START ARTICLE FOOTER -->
      <footer class="gg-article-footer">
        <div class="gg-article-social">
          <div class="gg-article-social-icons">
            <a class="gg-icon-flat gg-icon-facebook"></a>
            <a class="gg-icon-flat gg-icon-twitter"></a>
          </div>
          <div class="gg-article-social-buttons">
            <a class="gg-button-flat" href="#comments">
              <span class="gg-icon-comments"></span>
              {{ post.comment_count }}
            </a>
          </div>
        </div>
      </footer>
      <!-- END ARTICLE FOOTER -->

      <!-- START COMMENTS -->
      <section class="gg-comments" id="comments">
        {% for comment in post.comments %}
          {% include 'comment.twig' with { comment:comment } %}
        {% endfor %}
        {{ gg_respond }}
      </section>
      <!-- END COMMENTS -->

    </div>

  </article>
  <!-- END ARTICLE -->

{% endblock %}
