{% set classes = ['gg-card'] %}
{% if post.thumbnail %}
  {% set classes = classes|merge(['gg-card-image']) %}
{% endif %}

<!-- START CARD -->
<article class="{{ classes|join(' ') }}">
  {% if post.thumbnail.src %}
    <a href="{{ post.link }}" class="gg-card-media">
      <img src="{{ post.thumbnail.src('medium_large') }}" />
    </a>
  {% endif %}
  <div class="gg-card-content">
    <div class="gg-card-headline">
      <h1 class="gg-card-title">
        {% if post.copons_payoff %}
          <small class="gg-card-payoff">
            {{ post.copons_payoff }}
          </small>
        {% endif %}
        <a href="{{ post.link }}">
          {{ post.title }}
        </a>
      </h1>
      <h2 class="gg-card-subtitle">
        <a href="{{ post.author.link }}">
          {{ post.author.name }}
        </a>
        &middot; {{post.post_date | date}}
      </h2>
    </div>
    <div class="gg-card-text">
      {{ post.get_preview(25, false, '', true) }}
    </div>
  </div>
  <div class="gg-card-actions">
    <a class="gg-button-flat" href="{{ post.link }}#comments">
      <span class="gg-icon-comments"></span>
      {{ post.comment_count }}
    </a>
  </div>
</article>
<!-- END CARD -->
